body{
  padding: 0;
  margin: 0;
}

.main{
    width: 1080px;
    margin:0 auto;
}

.header{
    background-color: rgb(112, 223, 197);
    height: 80px;
}

.middle{
    background-color: #c69898;
}

.footer{
    background-color: rgb(2, 53, 99);
    height: 80px;
    margin-top: 10px;
    clear:both;
}

.header > .main{
    background-color: rgb(225, 160, 19);
    height: 80px;
}

.footer >.main{
    background-color: rgb(225, 100, 16);
    height: 80px;

}

.middle >.main{
    background-color: rgb(112, 164, 194);
}

.left {
    width: 550px;
    background-color: #a54c9c;
    float: left;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right {
    width: 500px;
    background-color: #d3dc25;
    float: right;
    height: 180px;
    margin-top: 10px;
  }
  
  @media (max-width: 1080px) {
    .main {
      width: 100%;
    }
    .left {
      width: 95%;
      margin: 10px auto 0px;
      float: none;
      background-color: rgb(64, 80, 144);
    }

    #lef2 {
        display: none;
    }
    #lef3 {
        display: none;
    }
    #lef4 {
        display: none;
    }
      
    .right {
      width: 95%;
      float: none;
      margin: 10px auto 0px;
    }
    
    #rig2 {
      display: none;
    }
    #rig3 {
      display: none;
    }
    #rig4 {
      display: none;
    }
}








