h1{
    color: #fa050573;
    text-align: center;
    margin-top: 20px;
}
body{
    margin:o;
    padding:o;
}

#imgdiv{
    text-align: center;
}
.op{
    text-align: right;
}
h2{
    color: #88b450;
    background-color: #d4d383;
    line-height:50px;
    box-shadow: 10px 10px 10px#92e3e0;
    border-radius: 15px;
}
ul{
    color: #136bdedd;
}
ol{
    color: #136bdedd;
}
a{
    text-decoration: none;
    color: #37c2c5f1;
}
table{
    text-align: center;
    color: #136bdedd;
}
.super{
    text-align: right;
}
.con{
    background-color: #f9e4bcdd;
    width: 800px;
    margin: 0 auto;
    padding: 5px,10px;
    box-shadow: 5px 5px 5px#7b9fa8;
}