h1{
    color: #217fc3;
    text-align: center;
}
#imgdiv{
    text-align: center;
}
.op{
    text-align: right;
}
.center{
    text-align: center;
}
body{
    background-color: hsl(81, 37%, 80%);
  margin: auto;
}
h2{
    color: #1993de;
    background-color: hsl(270, 10%, 81%);
    line-height:40px;
    padding: left 40px;
    box-shadow: 10px 10px 5px#8573ab;
    border-radius: 5%;
}
a{
    text-decoration: none;
    color: #e60667;
}
ul{
    color: #0509e8;
    text-align: justify;
}
table{
    text-align: center;
    color: #de1cd8;
}
ol{
    color: #3a08f2;
    text-align: center;
}